.forecast-item {
    min-width: 166px;
}

/* only a single input group so rather than create a new class 
   I used the existing input group for additional styling */
.location-history {
    max-width: 230px;
}

body {
    min-width: 576px;
}